.login-warp{
  background: url('img/Bg-login.png');
  background-size: cover;
}

.header-box{
    margin: 10vh 0 0 0;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    color: #081c4a;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.logo{
  width: 50px;
}

.logo-text{
  margin-left: 0.5rem;
  margin-bottom: 0px;
}

.login-box{
  background-color: #081c4a;
  color: white;
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 4px solid white;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10vh;
}

.login-box h1{
  border-bottom: 2px solid white;
}

.btn-masuk:hover{
  background-color: #eda702;
  color: white;
  border-color: #eda702;
}
